{% extends "stimmungspegel/base.html" %}

{% block content %}
<div class="row">
  <!-- Map -->
  <div class="col-xs-12 col-md-6">
      <h3>Hinzufügen</h3>
      <form action="#" method="post">
        <div class="form-group">
          <label for="name" class="sr-only">Name des Lokals</label>
          <input class="form-control" type="text" name="name" placeholder="Name des Lokals">
        </div>
        <div class="form-group">
          <label for="type">Art des Lokals</label>
          <select class="form-control" name="type" id="type">
            <option value="0">Kneipe</option>
            <option value="1">Club</option>
            <option value="2">Bar</option>
          </select>
        </div>
        <div class="form-group">
          <label for="admission" class="sr-only">Eintritt</label>
          <input class="form-control" type="text" name="admission" id="admission" placeholder="Eintritt">
        </div>
        <div class="form-group">
          <label for="beer-price" class="sr-only">Bierpreis</label>
          <input class="form-control" type="text" name="beer-price" id="beer-price" placeholder="Bierpreis">
        </div>

        <div class="form-group">
          <button type="button" class="form-control btn btn-primary" id="btn-audio-record">Audio aufnehmen</button>
        </div>
        <div class="form-group">
          <button type="button" class="form-control btn btn-primary disabled" id="btn-audio-delete">Audio löschen</button>
        </div>
        <div class="form-group">
          <button type="button" class="form-control btn btn-primary disabled" id="btn-audio-play">Audio abspielen</button>
        </div>
      </form>
      <br>
      <button type="submit" class="btn btn-primary">Hinzufügen</button>
  </div>


  <!-- Top Ten oder so... -->
  <div class="col-xs-12 col-md-6">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#gps" aria-controls="gps" role="tab" data-toggle="tab">GPS</a>
        </li>
        <li role="presentation">
          <a href="#address" aria-controls="profile" role="tab" data-toggle="tab">Adresse</a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="gps">
          <div class="map" id="map-canvas"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="address">
          <br>
          <form action="#" method="post">
            <div class="form-group">
              <label class="sr-only" for="street"></label>
              <input class="form-control" type="text" name="street" id="street" placeholder="Straße">
            </div>
            <div class="form-group">
              <label class="sr-only" for="zipcode"></label>
              <input class="form-control" type="text" name="zipcode" id="zipcode" placeholder="Postleitzahl">
            </div>
            <div class="form-group">
              <label for="city" class="sr-only">Stadt</label>
              <input class="form-control" type="text" name="city" id="city" placeholder="Stadt">
            </div>
          </form>
        </div>
      </div>

  </div>
</div>
{% endblock %}
