{% extends "stimmungspegel/base.html" %}

{% block content %}
<div class="row">
  <!-- Map -->
  <div class="col-xs-12 col-md-6">
    <div class="map" id="map"></div>
  </div>

  <!-- Top Ten oder so... -->
  <div class="col-xs-12 col-md-6">
    <h4 id="sorting-radius"></h4>
    <div id="location_list">
      <div class="text-center" style="font-size: 35px"><br><i class="fa fa-spinner fa-pulse"></i></div>  
    </div>
  </div>
</div>
{% endblock %}

{% block jquery %}
<script>
  $(document).ready(function () {
    var latcookie = getCookie("lat");
    var loncookie = getCookie("lon");
    var radius = getCookie("radius");
    var typecookie = getCookie("type");
    var sortFunc = byRating;
    var sortStr = "Beste Stimmung";
    
    if (typecookie != null && typecookie.charAt(3) == '1') {
      sortFunc = byRating;
      sortStr = "Beste Stimmung"; 
    } else if (typecookie != null && typecookie.charAt(4) == '1') {
      sortFunc = byBeerPrice;
      sortStr = "Günstigstes Bier";
    } else if (typecookie != null && typecookie.charAt(5) == '1') {
      sortFunc = byAdmission;
      sortStr = "Günstigster Eintritt";
    }
  
    if (latcookie == null || loncookie == null) {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var lat = position.coords.latitude;
          var lon = position.coords.longitude;
          setCookie("lat", lat);
          setCookie("lon", lon);
          getLocations(lat, lon, radius);
        });
      }
    } else {
      getLocations(Number(latcookie), Number(loncookie), radius);
    }
    
    function getLocations(lat, lon, radius) {
      map = StimmungspegelMap();
      map.createMap(lon, lat, 12);
      map.addMarker(null, lon, lat, null);
      
      if (radius == null) {
        radius = 10.0
      }
      $.ajax({
        type: "POST",
        url: "{% url 'getlocations' %}",
        dataType: "json",
        beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRFToken', "{{csrf_token}}");
        },
        data: {
          lat: lat,
          lon: lon,
          radius: radius
        }
      })
      .done(function(locations) {
        $("#sorting-radius").html(sortStr + " im Umkreis von " + radius + "km:");
        $("#location_list").empty();
        
        locations.sort(sortFunc);

        locations.forEach(function(location, index, array) {
          var rating_html = '';
          for (var i = 0; i < location.rating.toFixed(); i++) {
            rating_html = rating_html + "<i class=\"fa fa-star\"></i>";
          }
          for (var i = 0; i < 5 - location.rating.toFixed(); i++) {
            rating_html = rating_html + "<i class=\"fa fa-star-o\"></i>"; 
          }
          $("#location_list").append(
            '<div class="location well well-sm"' +
            '<p><b><a href="/detail/' + location.id + '">' + location.name + '</a></b></p>' +
            '<p>Stimmung: ' + rating_html + '</p>' +
            '<p>Bierpreis: ' + location.beer_price + '€</p>' +
            '<p>Eintritt: ' + location.admission + '€</p>' +
            '</div>'
          );
          map.addMarker(location.id, location.position_lon, location.position_lat, location);
          map.onMarkerSingleClick(location.id, function() {
            window.location = "/detail/" + location.id;
          });
        });
      })
      .fail(function(xhr, status, errorThrown) {
        console.log("Error: " + errorThrown);
        console.log("Status: " + status);
        $("#location_list").empty();
        $("#location_list").html("<p><i>Irgendetwas ist schief gelaufen&hellip; Sorry.</i></p>");
      });
    }
  });
</script>
{% endblock %}
