{% extends "stimmungspegel/base.html" %}

{% block content %}
<div class="row">
  <!-- Map -->
  <div class="col-xs-12 col-md-6">
    <div class="map" id="map-canvas"></div>
  </div>


  <!-- Top Ten oder so... -->
  <div class="col-xs-12 col-md-6">
    <h4> Beste Stimmung im Umkreis von <span id="radius">...</span>:</h4>
    <div id="location_list" class="pre-scrollable">
      <div class="well well-sm">
        <p>Club 1</p>
      </div>

      <div class="well well-sm">
        <p>Kneipe 2</p>
      </div>

      <div class="well well-sm">
        <p>Kneipe 2</p>
      </div>

      <div class="well well-sm">
        <p>Kneipe 2</p>
      </div>

      <div class="well well-sm">
        <p>Kneipe 2</p>
      </div>

      <div class="well well-sm">
        <p>Kneipe 2</p>
      </div>

      <div class="well well-sm">
        <p>Kneipe 2</p>
      </div>

      <div class="well well-sm">
        <p>Kneipe 2</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block jquery %}
<script>
  $(document).ready(function () {

    $.ajax({
      type: "POST",
      url: "{% url 'getlocations' %}",
      dataType: "json",
      data: {
        lat: 51.133333,
        lon: 10.416667,
        radius: 400.0
      }
    })
    .done(function(locations) {
      $("#radius").html("400km");
      $("#location_list").empty();
      locations.forEach(function(location, index, array) {
        $("#location_list").append(
          '<div class="well well-sm">' +
          '<p>' + location.name + '</p>' +
          '<p><b>Rating:</b> ' + location.rating + '</p>' +
          '</div>'
        );
      });
    })
    .fail(function(xhr, status, errorThrown) {
      console.log("Error: " + errorThrown);
      console.log("Status: " + status);
    });

  });
</script>
{% endblock %}
