{% extends "stimmungspegel/base.html" %}

{% block title %}{{ block.super }} – Suchoptionen{% endblock %}

{% block content %}
    <div class="container">

        <br>

        <div class="row">
            <div class="col-xs-3">
                <!--
                <label>Art der Lokale :    </label>
                -->
                <form action="#" method="post">
                    <div class="form-group">
                        <label for="name">Art der Lokale : </label>
                    </div>
                </form>
            </div>
            <div class="col-xs-2 col-xs-offset-0">
                <label class="radio-inline"><input type="checkbox" name="optradio">Kneipen</label>
            </div>

            <div class="col-xs-2 col-xs-offset-1">
                <label class="radio-inline"><input type="checkbox" name="optradio">Bars</label>
            </div>
            <div class="col-xs-2 col-xs-offset-1">
                <label class="radio-inline"><input type="checkbox" name="optradio">Clubs</label>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-xs-offset-1">

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Dropdown
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Keine Ahnung</a></li>
                        <li><a href="#">Muss nochmal Sven fragen</a></li>
                        <li><a href="#">Keine Ahnung</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <br>
        <br>

        <hr>

        <br>

        <div class="row">

            <div class="col-xs-2">
                <label class="radio-inline"><input type="radio" name="optradio">Karte auf GPS-Position
                    zentrieren</label>
            </div>

        </div>


        <br>

        <div class="row">

            <div class="col-xs-2">
                <label class="radio-inline"><input type="radio" name="optradio">Karte auf Adresse zentrieren</label>
            </div>

            <br>
            <br>

            <hr>


            <!--              <form action="#" method="post">
                              <div class="form-group">
                                  <form action="#" method="post">
                                      <div class="form-group">
                                          <input class="form-control "type="text" name="search-string" id="search-string" placeholder="Suchbegriff">
                                      </div>
                                  </form>
                              </div>
                          </form>
                -->
            <input class="form-control" type="text" name="name" placeholder="Straße">

            <br>

            <input class="form-control" type="text" name="name" placeholder="Postleitzahl">

            <br>

            <input class="form-control" type="text" name="name" placeholder="Stadt">

        </div>
    </div>
    </div>
    </div>{% endblock %}
